<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://pcw5092.cydd1pxflifs.ap-northeast-2.rds.amazonaws.com:3306/app_movie"/>
        <property name="username" value="admin"/>
        <property name="password" value="gkdlxhs!32"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="mybatis/mapper/comments-mapper.xml"/>
  	<mapper resource="mybatis/mapper/likes-mapper.xml"/>
  	<mapper resource="mybatis/mapper/posts-mapper.xml"/>
  	<mapper resource="mybatis/mapper/users-mapper.xml"/>
  </mappers>
</configuration>