<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

	<!-- 코멘트 등록 -->
	<insert id="create" parameterType="hashmap">
		INSERT INTO COMMENTS(MOVIE_ID, ID, COMMENTS, COMMENT_ID, NAME)
		VALUES (#{movieId}, #{id}, #{comments}, #{commentId}, #{name})
	</insert>

	<!-- 코멘트 N개 보기 + 페이징처리 -->
	<select id="findByCommentsAtoB" parameterType="hashmap"
		resultType="data.Comment">
		SELECT * FROM (
		SELECT ROW_NUMBER() OVER () AS RN, t.* FROM (
		SELECT * FROM COMMENTS WHERE MOVIE_ID = #{movieId}
		) t
		) sub WHERE RN BETWEEN #{a} AND #{b}
	</select>

	<!-- 코멘트 삭제 -->
	<delete id="delete" parameterType="String">
		DELETE FROM COMMENTS WHERE
		COMMENT_ID = #{commentId}
	</delete>

	<!-- 특정영화 코멘트 전체 갯수 가져오기 -->
	<select id="findByCommentsAll" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM COMMENTS WHERE MOVIE_ID =
		#{movieId}
	</select>

</mapper>
